* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
body {
    height: 2000px; 
    background-color: #f4f4f4;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}
nav a:hover {
    background-color: #5736ea;
    color: #fff;
}
nav.scrolled {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}
#home {
    background-color: #11cf14;
}
#about {
    background-color: #33b5ff;
}
#services {
    background-color: #141414;
}
#contact {
    background-color: #ff33e6;
}
